body {
  background: #f5f5f5;
  color: #4d4d4d;
  min-width: 230px;
  max-width: 700px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
  padding-top:40px;

  h1 {
    font-weight: 600;
    font-size: 50px;
    padding:0;
    margin: 20px 0;
  }

}

.make-list{
  list-style: none;
  padding: 0;
  margin: 0;
}

.selected-count {
  background: #0275d8;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: inline-block;
  text-align: center;
  color: #fff;
}

.form-control{
  margin-bottom: 10px;
}

.btn{
  margin-top: 20px;
}